<% active_table_for :events_table, @active_table_output,
   :more_actions => [['Delete', 'delete', 'Are you sure you want to delete these events?']] do |t| -%>
  <% active_tr 'event', t.id do -%>
    <td><%= entry_checkbox 'event', t.id %></td>
    <td><%= link_to t.name, :action => 'event', :path => t.id %></td>
    <td><%= h t.event_type.name %></td>
    <td align="center"><%= t.published? ? 'Yes'.t : 'No'.t %></td>
    <td align="center"><%= t.event_at.localize(DEFAULT_DATETIME_FORMAT.t) if t.event_at %></td>
    <td align="center"><%= t.ends_at.localize(DEFAULT_DATETIME_FORMAT.t) if t.event_at %></td>
  <% end -%>
<% end -%>
